* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.logo {
  font-size: 50px;
  color: darkblue;
  line-height: 60px;
  padding: 10px 40px;
  font-weight: bold;
  font-style: italic;
}
nav {
  height: 70px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 40%;
}
nav ul li {
  display: inline-block;
}

.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
  margin-top: 20px;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 40px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:hover {
  background-color: goldenrod;
  color: white;
  outline: 0;
}

@media (min-width: 500px) {
  .button-56 {
    padding: 0 40px;
  }
}

.box {
  margin-left: 100px;
}

.avatar {
  border-radius: 50%;
}

.column-3 {
  float: left !important;
  width: 33% !important;
}

.profile {
  box-shadow: 0 4px 8px 0 lightblue;
  max-width: 300px;
  margin: 20px 50px;
  text-align: center;
  padding: 20px;
  background-color: ghostwhite;
}

.profile:hover {
  transition: 400ms;
  box-shadow: 0 10px 20px 0 blue;
  cursor: pointer;
  transform: translateY(-20px);
}
.userid {
  margin-top: 5px;
  color: rgb(63, 19, 85);
  font-size: 15px;
}
.email {
  margin-top: 5px;
  font-size: 15px;
  font-style: oblique;
}
.name {
  font-size: 20px;
  font-weight: bold;
  color: deeppink;
}
